@use '../../../styles/mixins' as *;

.shift-list {
  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 1rem;
    .search-box,
    .p-input-icon-left {
      min-width: 14rem;
    }
  }
}
